.App {
  text-align: center;
}
*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  background-image: url("image1.jpg");
  background-size: cover;
}
.navbar{
  height: 70px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top:0px;
}
i{
  color: white;
  font-size: 30px;
  margin:10px;
  transition: 1s ease-in-out;
}
#one:hover{
  color: blue;
}
#two:hover{
  color:orange;
}
#three:hover{
  color: red;
}
/* #four:hover{
  color: yellow;
} */
#five{
  background-color: black;
  border: none;
}
#home{
  color: white;
  font-size: 30px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: sticky;
  top:50px;
  /* margin:50px; */
}
#list{
  height: auto;
  width: auto;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  margin: 10px;
}
.list1{
  /* background-color: black; */
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.list2{
  /* background-color: black; */
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.listcontent{
  height:100px;
  width:250px;
  background-color: white;
  margin: 10px;
}
.listcontent:hover{
  transform:scale(1.1);
  border: 2px solid #3498db;
}
#topic1{
  background-image: url(imge4.jpg);
  background-size: contain;
  filter: blur(0.5px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#topic2{
  background-image: url(image5.avif);
  background-size: contain;
  filter: blur(0.5px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#topic3{
  background-image: url(image6.jpg);
  background-size: contain;
  filter: blur(0.5px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#topic4{
  background-image: url(image3.jpeg);
  background-size: cover;
  filter: blur(0.5px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#topic5{
  background-image: url(prabhas.jpg);
  background-size: cover;
  filter: blur(0.5px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
/* #topic6{
  background-image: url(image8.avif);
  background-size: cover;
  filter: blur(0.5px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#topic7{
  background-image: url(image9.webp);
  background-size: cover;
  filter: blur(0.5px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#topic8{
  background-image: url(image10.jpg);
  background-size: cover;
  filter: blur(0.5px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
} */
p{
  color: white;
}
.songbtn{
  background-color: white;
  height: 50px;
  width: 50px;
  font-size: 20px;
  border-radius: 50%;
  border: none;
  margin: 5px;
}
.songdiv{
  color: white;
}
#play{
  height: 4px;
  width: 1750px;
  /* margin: 20px; */
  position: fixed;
  top:660px;
  left: -140px;
  /* background-color: brown; */
  display: flex;
  align-items: center;
}
#controlbtn{
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: black; */
}
.nowplay{
  /* background-color:#344e41; */
  background: linear-gradient(to bottom,black,white);
  height: 65px;
  width: 1550px;
  position: fixed;
  bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
  font-size: 10px;
  transition: 0.5s ease;
  /* position: relative;
  right:1500px; */
}
#lyrics{
  height: 250px;
  width: 200px;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}
#man{
  height: 65px;
  width: 1550px;
  background: linear-gradient(to bottom,black,white);
}
#play-walk{
  height: 70px;
}
.expanded {
  height: 670px; /* Desired final height */
}
.collapsed {
  height: 70px; /* Initial height */
}
@media (max-width:1000px) {
  /* .navbar{
    width:420px;
  } */
  #text{
    font-size: 20px;
  }
  .list1{
    flex-direction: column;
    flex-wrap: wrap;
  }
  .list2{
    flex-direction: column;
    flex-wrap: wrap;
  }
  body{
    background-color: black;
    height: 700px;
  }
  #play{
    width:600px;
    top:65px;
  }
  .nowplay{
    left: 1px;
    width:370px;
    flex-direction: column;
  }
  #content{
    height: auto;
    width:300px;
  }
  #controlbtn{
    position: fixed;
    bottom:90px;
  }
  .expanded {
    height: 688px; /* Desired final height */
  }
  .collapsed {
    height: 90px; /* Initial height */
  }
  #man{
    height: 90px;
    width: 1550px;
    /* background-color: white; */
  }
  #play-walk{
    height: 80px;
  }
  #lyrics{
    width:150px;
    /* height:300px; */
  }
  #hide{
    height: 100px;
  }
  #close{
    color: white;
  }
  .signin{
    position: relative;
    left: 60px;
  }
}
/* .expand{
  height: 20px;
  width:100px;
} */
.collapse{
  height: 0px;
}
.songbtn1{
  background-color: white;
  height: 40px;
  width: 40px;
  font-size: 15px;
  border-radius: 50%;
  border: none;
  position: relative;
  top:17px;
}
.songbtn3{
  background-color: white;
  height: 40px;
  width: 40px;
  font-size: 15px;
  border-radius: 50%;
  border: none;
  position: relative;
  top:45px;
  right: 90px;
}
.songbtn{
  background-color: white;
  height: 40px;
  width: 40px;
  font-size: 15px;
  border-radius: 50%;
  border: none;
  margin: 5px;
  position: relative;
  bottom: 10px;
}
.songbtn:active{
  background-color: yellow;
}
.songbtn1:active{
  background-color: #fb5607;
}
#head{
  font-size: 20px;
  height: 50px;
  display: flex;
  background-color: black;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top:70px;
}
#photo{
  height: 35px;
  width: 35px;
  background: transparent;
  background-color: #d9d9d9;
  background-image: url("photo.png");
  background-size:cover;
  background-position-x:-5px;
  background-position-y:2px;
  border-radius: 50%;
}
/* #photo:active{
  position: relative;
  top:300px;
  height: 250px;
  width: 250px;
  left:70px;
  background-image: url("photo.png");
  background-size:cover;
  background-position-y: -50px;
} */
.textarea{
  height: 650px;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
ul{
  animation: move 60s linear infinite;
}
li{
  margin: 10px;
}
#content{
  overflow: hidden;
  height: 500px;
  width: auto;
  color: white;
  /* background-color: #fb5607; */
}
/* #flow{
  animation: move 180s linear infinite;
} */
@keyframes move {
  0%{
    transform: translateY(0);

  }
  100%{
    transform: translateY(-100%);
  }
}
#four:active{
  color: green;
}
.intro{
  height: auto;
  width:auto;
  background-color:transparent;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  position: relative;
  font-size: 30px;
}
.space{
  height: 150px;
  width:260px;
  /* background-color:#fb5607; */
}
.display{
  height: auto;
  width: auto;
  background-color: #fb5607;
}
#image-size{
  height: 50px;
  width:50px;
}
#image-play{
  height: 30px;
  width:30px;
}
.box{
  transition: transform 1s ease;
  color: white;
}
.box:active{
  transform: translateX(100px);
  color: green;
}
input{
  height: 30px;
  width: 250px;
  margin: 10px;
}
label{
  color: white;
}
.slidebox{
  height: 30px;
  margin: 20px;
}
.slidebox:hover{
  background-color:green;
}
